<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <AccountUsername>bastian.winkler_telekom.de@azcloud.telekom.net</AccountUsername>
    <AzureServiceName>app-mira-t15-gwc-dialplan</AzureServiceName>
    <AzureServiceResourceGroup>rg-mira-t15-gwc-app-001</AzureServiceResourceGroup>
    <AzureServiceResourceId>/subscriptions/4ade1294-a5c9-4d4f-a73a-6d8257677c91/resourceGroups/rg-mira-t15-gwc-app-001/providers/Microsoft.Web/sites/app-mira-t15-gwc-dialplan</AzureServiceResourceId>
    <AzureServiceResourceType>Microsoft.Web/sites</AzureServiceResourceType>
    <AzureServiceSubscriptionId>4ade1294-a5c9-4d4f-a73a-6d8257677c91</AzureServiceSubscriptionId>
    <AzureServiceSubscriptionName>dtitmms0001</AzureServiceSubscriptionName>
    <AzureWebSite>/subscriptions/4ade1294-a5c9-4d4f-a73a-6d8257677c91/resourceGroups/rg-mira-t15-gwc-app-001/providers/Microsoft.Web/sites/app-mira-t15-gwc-dialplan (Microsoft.WebTools.Azure.Client.Entities.Website)</AzureWebSite>
    <DotNetCoreVersion>8.0.x</DotNetCoreVersion>
    <DotNetVersionSupportDisposition>FullySupported</DotNetVersionSupportDisposition>
    <FunctionsInProcDotNetCoreVersion>6.0.x</FunctionsInProcDotNetCoreVersion>
    <FunctionsInProcDotNetSupportDisposition>Deprecated</FunctionsInProcDotNetSupportDisposition>
    <GitWorkflowCredentialsHandlerId>WebSite</GitWorkflowCredentialsHandlerId>
    <GitWorkflowFactoryId>functionAppGitHubWorkflowFactory</GitWorkflowFactoryId>
    <GitWorkflowTemplatePath>workflows/github/azureFunctionAppLinux.yml</GitWorkflowTemplatePath>
    <IsLinuxAzureService>true</IsLinuxAzureService>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <ProjectOutputPath>published</ProjectOutputPath>
    <ProjectPath>.</ProjectPath>
    <PublishProvider>AzureWebSite</PublishProvider>
    <TargetFrameworks>System.Collections.Generic.List`1[System.String]</TargetFrameworks>
    <TenantId>628242bd-7e70-4aa9-8ee1-72586b4540fe</TenantId>
    <WebsiteBasicAuthPublish>false</WebsiteBasicAuthPublish>
  </PropertyGroup>
</Project>