<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://app-mira-t15-gwc-dialplan.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4ade1294-a5c9-4d4f-a73a-6d8257677c91/resourceGroups/rg-mira-t15-gwc-app-001/providers/Microsoft.Web/sites/app-mira-t15-gwc-dialplan</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://app-mira-t15-gwc-dialplan.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>