<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mira-api-h4aqdqatfeh8hte2.germanywestcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4ade1294-a5c9-4d4f-a73a-6d8257677c91/resourcegroups/appmiraapi/providers/Microsoft.Web/sites/mira-api</ResourceId>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://mira-api-h4aqdqatfeh8hte2.scm.germanywestcentral-01.azurewebsites.net/</PublishUrl>
    <UseBlobContainerDeploy>true</UseBlobContainerDeploy>
  </PropertyGroup>
</Project>